doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/style.css")
        title Document
    body 
        header.section.flex.baseline
            h1.logo 
                a(href="/") Medicines

            nav.nav 
                a(href="/") Home
                a(href="/create") Create

        block content